*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo{
    height: 50px;
    width: 100px;
}

.logo:hover{
    transform: scale(1.2);
}

.section-1{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.shop-now{
    text-decoration: none;
    color: white;
}

.logo-1{
    height: 100px;
    width: 180px;
}

.logo-1:hover{
    transform: scale(1.2);
}







/**main guia de talle**/

.guia-talles{
    text-align: center;
}

.div-1{
    padding-left: 25px;
}

.h4{
    padding-top: 10px;
    padding-left: 15px;
    color:black;
}

/**fin de main guia de talle**/








@media(max-width:2560px){
    .section-1{
        display: grid;
        grid-template-columns: repeat(4,auto);
        grid-template-rows: repeat(3,auto);
    }
}

@media(max-width:1440px){
    .section-1{
        display: grid;
        grid-template-columns: repeat(4,auto);
        grid-template-rows: repeat(3,auto);
    }
}

@media(max-width:1024px){
    .section-1{
        display: grid;
                grid-template-columns: repeat(3,auto);
                grid-template-rows: repeat(8,auto);
    }
}

@media(max-width:768px){
    .section-1{
        display: grid;
                grid-template-columns: repeat(2,auto);
                grid-template-rows: repeat(4,auto);
            }
        }

@media(max-width:425px){
    .section-1{
        display: grid;
            grid-template-columns: repeat(1,auto);
            grid-template-rows: repeat(10,auto);
    }
}


